/*import google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200|Righteous');


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    padding: 7px 92px;
    background-image: url(tacotruck.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 700px 400px;
    height: 100%;
}

td h1 {
    font-size: 40px;
    font-family: 'Righteous', sans-serif;
    padding-top: 0;
    letter-spacing: 15px;
    color: orangered;
}

form p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #222;
}

input {
    margin-left: 15px;
    width: 250px;
    border: 1px inset #888;
    font-family: monospace;
    font-size: 14px;
    font-weight: lighter;
    color: darkviolet;
}

input[type="submit"] {
    font-family: 'Righteous', sans-serif;
    font-size: 18px;
    padding: 10px 50px;
    background: orangered;
    border: 2px outset #a2a2a2;
    border-radius: 10px;
    color: white;
    margin: 30px 50px;
}

p strong {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: mediumseagreen;
}

td.footer {
    font-family:'Poppins', sans-serif;
    font-size: 10px !important;
    font-weight: 200;
    color: #333 !important;
    position: absolute !important; 
    top: 800px !important;
    width: 100% !important;
}

td.footer p {
    padding-right: 250px !important;
}